<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Questrial|Poiret+One
|Playfair+Display|Cherry+Cream+Soda|Irish+Grover|Give+You+Glory" rel="stylesheet" type="text/css" href="style_cloudy.css">
    <title>Cloudy</title>
  </head>

  <body>
    <h1><%= @weather %></h1>
  </body>

</html>
