<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="normalize.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nixie+One|Cherry+Cream+Soda|Irish+Grover|Give+You+Glory|Happy+Monkey|Poiret+One' rel='stylesheet' type='text/css'>
    <link href="/style_fair.css" rel="stylesheet">
    <link href="responsive.css" rel="stylesheet">
    <title>Fair</title>
  </head>

  <body>
    <h1><%= @weather %></h1>
  </body>

</html>
