<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
  </head>

  <body>
    <form method="post" action="/weather">
      Enter your location (city): <input type="text" name="post[location]" />
      <input type="submit" name="Search" />
    </form>
  </body>
  
</html>
